---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Header from "../components/Header.astro";
import Features from "../components/Features.astro";
import HowDoesItWork from "../components/HowDoesItWork.astro";
---

<Layout title="Bienvenue sur Licorn">
    <div class="header-container">
        <Nav />
        <Header/>

    </div>
    <Features/>
    <HowDoesItWork />
</Layout>

<style>
    .header-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        /*background: #fff radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);*/
        background: radial-gradient(
                116.18% 118% at 50% 100%,
                rgba(99, 102, 241, 0.25) 0%, /* Augmente l'opacité à 0.25 */
                rgba(218, 70, 239, 0.2) 41.83%, /* Augmente l'opacité à 0.2 */
                rgba(241, 244, 253, 0.25) 82.52% /* Augmente l'opacité à 0.25 */
        );
    }
</style>
