---

---
<section class="feature-container">
    <img src="asset/images/iphone-on-side.svg" alt="">
    <div class="feature-right-side">
        <h1>Fonctionnalités de l'application</h1>
        <p>Projet Licorne propose de nombreuses fonctionnalités innovantes pour la gestion des dépenses en temps réel.
            Grâce
            à un algorithme de pointe, les transactions sont automatiquement catégorisées, avec des graphiques et
            diagrammes
            clairs pour une visualisation facile et précise.
        </p>
        <div class="feature-list-container">
            <div class="feature-list-container-items">
                <img src="asset/icons/payements.svg" alt="">
                <div class="feature-list-container-items--text-content">
                    <h3>Paiement facile</h3>
                    <p>Facilitez vos paiements, simplifiez votre vie financière, gagnez du temps et évitez les tracas</p>
                </div>
            </div>
            <div class="feature-list-container-items">
                <img src="asset/icons/data-security.svg">
                <div class="feature-list-container-items--text-content">
                    <h3>Sécurité des données</h3>
                    <p>Application bancaire sécurisée, confidentialité garantie, transactions protégées et sérénité assurée</p>
                </div>
            </div>
            <div class="feature-list-container-items">
                <img src="asset/icons/cost-statictic.svg" alt="">
                <div class="feature-list-container-items--text-content">
                    <h3>Statistiques de coût</h3>
                    <p>Analyse approfondie, optimisation des coûts, économies réalisées, investissements judicieux et rentabilité accrue.</p>
                </div>
            </div>
            <div class="feature-list-container-items">
                <img src="asset/icons/support.svg">
                <div class="feature-list-container-items--text-content">
                    <h3>Support 24/7</h3>
                    <p>Assistance continue, disponibilité 24/7, service rapide, écoute attentive et résolution efficace</p>
                </div>
            </div>
            <div class="feature-list-container-items">
                <img src="asset/icons/cashback.svg" alt="">
                <div class="feature-list-container-items--text-content">
                    <h3>Cashback régulier</h3>
                    <p>Économies constantes, achats récompensés, fidélité valorisée et budget optimisé.</p>
                </div>
            </div>
            <div class="feature-list-container-items">
                <img src="asset/icons/standards.svg" alt="">
                <div class="feature-list-container-items--text-content">
                    <h3>Hauts standards</h3>
                    <p> Qualité supérieure, excellence garantie, performance optimale et satisfaction assurée.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    p {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    h1 {
        margin: 0;
    }

    .feature-container {
        margin-top: 20vh;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 0;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }

    .feature-right-side {
        display: flex;
        flex-direction: column;
        gap: 45px;
        max-width: 735px;
        height: 100%;

    }

    .feature-list-container {
        display: flex;
        flex-wrap: wrap;
    }

    .feature-list-container-items {
        display: flex;
        gap: 23px;
        flex-basis: 50%;
        min-width: 200px;
        margin-bottom: 30px;
    }

    .feature-list-container-items--text-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-basis: 235px;
        gap: 2vh;
    }

    .feature-list-container-items > img {
        align-self: flex-start;
    }
</style>