---

---
<section class="how_does_it_work_container">
<h1>How does it work ?</h1>
    <div class="how_does_it_work_container_image">
        <img src="asset/images/application-demo-3.svg">
        <img src="asset/images/application-demo-2.svg">
        <img src="asset/images/application-demo-3.svg">
    </div>
    <h4>Step 2 Latest transaction history</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto consectetur, earum enim ex id nemo praesentium voluptatibus? Alias esse quas reiciendis! Error fugiat neque nesciunt, repellendus sequi ullam voluptates.</p>
</section>
<style>
    .how_does_it_work_container {
        background-color: rgb(241, 244, 253);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .how_does_it_work_container p {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-family: 'Manrope',serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
    }
    .how_does_it_work_container h4 {
        font-family: 'Manrope',serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 140%;
    }

    .how_does_it_work_container_image {
        display: flex;
        justify-content: space-evenly;
        gap: 3rem;
    }
</style>