---

---
<nav class="nav-container">
    <h1>Licorn Projet</h1>
    <ul class="nav-container_list">
        <li class="nav-container_list-item"><a href="#">Accueil</a></li>
        <li class="nav-container_list-item" ><a href="#">A propos</a></li>
        <li class="nav-container_list-item"><a href="#">Contact</a></li>
    </ul>
</nav>
<style>
    .nav-container {
        width: 100%;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav-container .nav-container_list {
        display: flex;
        gap: 1.5rem;
        width:  30.125rem;
        list-style: none;
    }
    .nav-container .nav-container_list li {
        width: auto;
        font-size: 1rem;
    }
    .nav-container .nav-container_list .nav-container_list-item {
        width: 68px;
        height: 26px;
        font-family: 'Manrope',serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #33354D;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .nav-container .nav-container_list .nav-container_list-item a {
        color: inherit;
        text-decoration: none;
    }

</style>